@model List<CiudadView>
@{
    ViewData["Title"] = "Home";
    List<Continente> continentes = await service.GetAllContinentesAsync();
}
@section Styles {
    <link href="~/css/megamenu.css" rel="stylesheet" />
}
@section Scripts {
    <script type="module">
        import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";

        const opts = {
            onSelectItem: console.log,
        };
        Autocomplete.init("input.autocomplete", {
            valueField: "id",
            labelField: "title",
            highlightTyped: true,
            onSelectItem: console.log,
        });
        new Autocomplete(document.getElementById("floatingOrigen"), opts);
        new Autocomplete(document.getElementById("floatingDestino"), opts);

    </script>
    <script>
        // $(document).ready(function () {
        $("span.seleccionDestino").each(function () {
            $(this).click(function () {
                $("#floatingDestino").val($(this).text());
            })
        });
        $("span.seleccionOrigen").each(function () {
            $(this).click(function () {
                $("#floatingOrigen").val($(this).text());
            })
        })

        $("#switchPlaces").click(function () {
            let origen = $("#floatingOrigen").val();
            let destino = $("#floatingDestino").val();

            $("#floatingDestino").val(origen);
            $("#floatingOrigen").val(destino);
        })

        $("#addAdulto").click(function () {
            let valor = $("#adultos").val();
            $("#adultos").val(parseInt($("#adultos").val()) + 1);
            $("#totalAdults").text($("#adultos").val());
        })
        $("#reduceAdulto").click(function () {
            let valor = $("#adultos").val();
            if (valor > 1) {
                $("#adultos").val(valor - 1);
                $("#totalAdults").html($("#adultos").val());
            }
        })
        $("#addKid").click(function () {
            let valor = $("#kids").val();
            $("#kids").val(parseInt($("#kids").val()) + 1);
            $("#totalKids").text($("#kids").val());
        })
        $("#reduceKid").click(function () {
            let valor = $("#kids").val();
            if (valor > 0) {
                $("#kids").val(valor - 1);
                $("#totalKids").text(valor - 1);
            }
        })

        $("#ida").change(function () {
            if ($(this).is(":checked")) {
                // Hacer algo cuando "Ida" está seleccionado
                $("#containerVuelta").addClass("d-none");
            }
        });

        // Cuando el radio "Ida y Vuelta" está seleccionado
        $("#idaVuelta").change(function () {
            if ($(this).is(":checked")) {
                $("#containerVuelta").removeClass("d-none");
            }
        });
        // });

    </script>
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 1300px;">
        <form method="post" asp-action="Vuelos" asp-controller="Vuelos" class="form-search-flights bg-white p-3 rounded-1 row row-cols-lg-auto g-3 align-items-center justify-content-center">
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="viaje" id="ida" checked>
                    <label class="form-check-label" for="ida">
                        Ida
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="viaje" id="idaVuelta">
                    <label class="form-check-label" for="idaVuelta">
                        Ida y Vuelta
                    </label>
                </div>
            </div>
            <div class="col-12 d-flex flex-row gap-2">
                <div class="col-11">
                    <div class="form-floating">
                        <input type="text" name="origen" class="form-control" id="floatingOrigen" placeholder="Origen" data-datalist="list-paises">
                        <label for="floatingInput">
                            Origen <i class="fa-solid fa-location-dot"></i>
                        </label>
                    </div>
                </div>
                <div class="col-auto d-grid" style="place-content:center;">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown dropdown-mega position-static">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">

                            </a>
                            <div class="dropdown-menu shadow">
                                <div class="mega-content px-4">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-3 py-4">
                                                @foreach (Continente continente in continentes)
                                                {
                                                    <ul>
                                                        <li class="dropend">
                                                            <a href="#" class="dropdown-item dropdown-toggle continenteName" data-bs-toggle="dropdown" data-bs-auto-close="default">@continente.Nombre</a>
                                                            <ul class="dropdown-menu shadow dropdown-scroll">
                                                                @foreach (CiudadView view in Model)
                                                                {
                                                                    @if (view.IdContinente == continente.IdContinente)
                                                                    {

                                                                        <li>
                                                                            <span class="dropdown-item seleccionOrigen">@view.Nombre</span>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                    </ul>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <button id="switchPlaces" type="button" class="btn btn-outline-primary rounded-circle">
                    <i class="fa-solid fa-rotate"></i>
                </button>
            </div>
            <div class="col-12 d-flex flex-row gap-2">
                <div class="col-11">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="destino" id="floatingDestino" placeholder="Destino" data-datalist="list-paises">
                        <label for="floatingDestino">
                            Destino <i class="fa-solid fa-location-dot"></i>
                        </label>
                    </div>
                </div>
                <div class="col-auto d-grid" style="place-content:center;">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown dropdown-mega position-static">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">

                            </a>
                            <div class="dropdown-menu shadow">
                                <div class="mega-content px-4">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-3 py-4">
                                                @foreach (Continente continente in continentes)
                                                {
                                                    <ul>
                                                        <li class="dropend">
                                                            <a href="#" class="dropdown-item dropdown-toggle continenteName" data-bs-toggle="dropdown" data-bs-auto-close="inside">@continente.Nombre</a>
                                                            <ul class="dropdown-menu shadow dropdown-scroll">
                                                                @foreach (CiudadView view in Model)
                                                                {
                                                                    @if (view.IdContinente == continente.IdContinente)
                                                                    {

                                                                        <li>
                                                                            <span class="dropdown-item seleccionDestino">@view.Nombre</span>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                    </ul>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <datalist id="list-paises">
                @foreach (CiudadView ciudad in Model)
                {
                    <option value="@ciudad.IdCiudad">@ciudad.Nombre</option>
                }
            </datalist>
            <div class="col-12">
                <div class="form-floating">
                    <input type="date" name="fechaIda" class="form-control" id="floatingFechaIda" placeholder="Fecha Ida">
                    <label for="floatingInput">
                        Fecha Ida <i class="fa-regular fa-calendar-days"></i>
                    </label>
                </div>
            </div>
            <div class="d-none col-12" id="containerVuelta">
                <div class="form-floating">
                    <input type="date" name="fechaVuelta" class="form-control" id="floatingFechaVuelta" placeholder="Fecha Ida">
                    <label for="floatingFechaVuelta">
                        Fecha Vuelta <i class="fa-regular fa-calendar-days"></i>
                    </label>
                </div>
            </div>
            <div class="col-12">
                <input type="hidden" name="adultos" id="adultos" value="1" />
                <input type="hidden" name="kids" id="kids" value="0" />
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                        Pasajeros
                    </button>
                    <div class="dropdown-menu" style="width:200px;">
                        <div class="m-3">
                            <span class="fs-3 text-primary fw-bold" id="totalAdults">1</span>
                            <span>Adulto</span>
                            <button type="button" class="btn btn-outline-primary rounded-pill" id="addAdulto">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary rounded-pill" id="reduceAdulto">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </div>
                        <div class="m-3">
                            <span class="fs-3 text-primary fw-bold" id="totalKids">0</span>
                            <span>Niños</span>
                            <button type="button" class="btn btn-outline-primary rounded-pill" id="addKid">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary rounded-pill" id="reduceKid">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary">Buscar Vuelos</button>
            </div>
        </form>
    </div>
</div>
<!-- Header End -->
<!-- Explore Tour Start -->
<div class="container-fluid ExploreTour py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Descubre</h5>
            <p class="mb-0">
                Descubre destinos exóticos, ciudades vibrantes y paisajes impresionantes con nuestra aerolínea. Desde playas de arena blanca hasta metrópolis llenas de historia y cultura, te llevamos a donde tus sueños te lleven. Con un servicio excepcional y una amplia red de vuelos, ¡tu próxima aventura comienza con nosotros!
            </p>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="~/img/buenos-aires.png" class="img-fluid w-100 rounded" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Buenos Aires</h5>
                                        <a class="btn-hover text-white"
                                           asp-controller="Home"
                                           asp-action="Details"
                                           asp-route-idCiudad="74">
                                            Detalles <i class="fa fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="~/img/budapest.png" class="img-fluid w-100 rounded" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Budapest</h5>
                                        <a class="btn-hover text-white"
                                           asp-controller="Home"
                                           asp-action="Details"
                                           asp-route-idCiudad="47">
                                            Detalles <i class="fa fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="~/img/roma.png" class="img-fluid w-100 rounded" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Roma</h5>
                                        <a class="btn-hover text-white"
                                           asp-controller="Home"
                                           asp-action="Details"
                                           asp-route-idCiudad="7">
                                            Detalles <i class="fa fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="~/img/paris.jpg" class="img-fluid w-100 rounded" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">París</h5>
                                        <a class="btn-hover text-white"
                                           asp-controller="Home"
                                           asp-action="Details"
                                           asp-route-idCiudad="42">
                                            Detalles <i class="fa fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="~/img/bratislava.png" class="img-fluid w-100 rounded" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Bratislava</h5>
                                        <a class="btn-hover text-white"
                                           asp-controller="Home"
                                           asp-action="Details"
                                           asp-route-idCiudad="2">
                                            Detalles <i class="fa fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="national-item">
                                <img src="~/img/amsterdam.png" class="img-fluid w-100 rounded" alt="Image">
                                <div class="national-content">
                                    <div class="national-info">
                                        <h5 class="text-white text-uppercase mb-2">Amsterdam</h5>
                                        <a class="btn-hover text-white"
                                           asp-controller="Home"
                                           asp-action="Details"
                                           asp-route-idCiudad="50">
                                            Detalles <i class="fa fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Explore Tour Start -->
