@model BilleteVueloView

@{
    Layout = "";
    string minutosSalida = Model.FechaSalida.TimeOfDay.Minutes.ToString();
    string minutosLlegada = Model.FechaLlegada.TimeOfDay.Minutes.ToString();
    if (minutosLlegada == "0")
    {
        minutosLlegada = "00";
    }
    if (minutosSalida == "0")
    {
        minutosSalida = "00";
    }
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .ticket {
        width: 80%;
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .logo {
        width: 80px;
        margin-right: 20px;
    }

    .title {
        font-size: 24px;
        margin: 0;
        color: #333;
    }

    .flight-info {
        padding: 20px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .flight-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .label {
        font-weight: bold;
    }

    .barcode {
        padding-top: 20px;
        text-align: center;
    }

        /* Simular código de barras */
        .barcode::before {
            content: "||||||||||||||||||||||||||||||||||||";
            font-size: 20px;
            color: #333;
        }

</style>

<div class="ticket">
    <div class="header">
        <img src="~/img/SkyAir-logo-black.png" alt="SkyAir" class="logo">
    </div>
    <div class="flight-info">
        <div class="flight-row">
            <div class="label">Número de Vuelo:</div>
            <div class="value">@Model.CodVuelo</div>
        </div>
        <div class="flight-row">
            <div class="label">Origen:</div>
            <div class="value">@Model.CiudadOrigen</div>
        </div>
        <div class="flight-row">
            <div class="label">Destino:</div>
            <div class="value">@Model.CiudadDestino</div>
        </div>
        <div class="flight-row">
            <div class="label">Salida:</div>
            <div class="value">
                @Model.FechaSalida.ToLongDateString() @Model.FechaSalida.TimeOfDay.Hours:@minutosSalida
            </div>
        </div>
        <div class="flight-row">
            <div class="label">Llegada:</div>
            <div class="value">
                @Model.FechaLlegada.ToLongDateString()  @Model.FechaLlegada.TimeOfDay.Hours:@minutosLlegada
            </div>
        </div>
        <div class="flight-row">
            <div class="label">Clase:</div>
            <div class="value">
                @Model.Clase
            </div>
        </div>
        <div class="flight-row">
            <div class="label">Asiento</div>
            <div class="value">
                @Model.Asiento
            </div>
        </div>
        <div class="flight-row">
            <div class="label">Equipaje Cabina</div>
            <div class="value">
                @Model.EquipajeCabina
            </div>
        </div>
        <div class="flight-row">
            <div class="label">Equipaje Mano</div>
            <div class="value">
                @Model.EquipajeMano
            </div>
        </div>
        <div class="flight-row">
            <div class="label">Avion</div>
            <div class="value">
                @Model.Avion
            </div>
        </div>
        <div class="flight-row">
            <div class="label">Compra realizada</div>
            <div class="value">
                @Model.FechaCompra
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary"
               asp-controller="Vuelos"
               asp-action="DescargarPDF"
               asp-route-idBillete="@Model.IdBillete">Descargar PDF</a>

        </div>
    </div>
    
    <div class="barcode">
        <!-- Código de barras aquí -->
    </div>
</div>
