@model List<VueloView>
@{
    Layout = "_LayoutViajes";
    ViewData["Title"] = "Vuelos";
    List<TipoClase> clases = await repo.GetClasesAsync();

}
@section Scripts {
    <script src="~/js/stages.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let selectedSeats = 0;
        let maxSeats = @ViewData["PASAJEROS"];
        function loadAsientos(asientosOcupados) {
            let letras = "A,B,C,D,E,F,G,H,I";
            let arrayLetras = letras.split(",");
            let numasiento = 1;
            let filas = 20;
            for (let index = 1; index <= filas; index++) {
                let li = $("<li>", {
                    class: "row " + "row--" + index,
                });
                let ol = $("<ol>", {
                    class: "seats",
                    type: "A",
                });
                li.append(ol);
                $("#cabin").append(li);
                for (let j = 1; j <= arrayLetras.length; j++) {
                    let li = $("<li>", {
                        class: "seat",
                    });
                    let input = $("<input>", {
                        type: "checkbox",
                        id: index + arrayLetras[j - 1],
                        class: "asiento",
                        name: "asientos",
                        value: index + arrayLetras[j - 1]
                    });
                    let label = $("<label>", {
                        for: index + arrayLetras[j - 1],
                        text: index + arrayLetras[j - 1],
                    });
                    input.change(function () {
                        if ($(this).is(":checked")) {
                            // Verificar si se ha alcanzado el límite máximo de asientos seleccionados
                            selectedSeats++;
                            if (maxSeats == selectedSeats) {
                                $("#next-asientos").removeClass("d-none");
                            }

                            if (selectedSeats > maxSeats) {
                                selectedSeats = maxSeats;
                                $("#next-asientos").removeClass("d-none");
                                // Si se ha alcanzado el límite máximo, mostrar una alerta
                                alert('Ya has seleccionado el máximo de ' + maxSeats + ' asientos.');
                                $(this).prop("checked", false); // Desmarcar el checkbox
                            }
                        } else {
                            $("#next-asientos").addClass("d-none");
                            selectedSeats--;
                        }
                        console.log(selectedSeats);
                    });
                    numasiento++;
                    li.append(input);
                    li.append(label);
                    ol.append(li);
                }
            }

            for (let i = 0; i < asientosOcupados.length; i++) {
                console.log($(this));

                $("#" + asientosOcupados[i]).attr("disabled", "");
            }
            //deshabiltar asientos poniendo el atributo disabled a las cajas con el id del array lista asientos
        }


        function seleccionarClase(idClase,precio) {
            $("#claseid").val(idClase);
            $("#precio").val(precio);
            $("#btn-next-clases").removeClass("d-none");
            changeColorClaseCard(idClase);
        }

        //La posicion puede ser 1 o 2
        function changeColorClaseCard(idClase) {
            let posicionSelected = 0;
            let posicionNoSelected = 0;
            if (idClase == 2) {
                posicionSelected = 1
                posicionNoSelected = 0;
            } else if (idClase == 1) {
                posicionSelected = 0
                posicionNoSelected = 1;

            }
            $(".card-header")[posicionSelected].classList.remove("bg-primary");
            $(".card-header")[posicionSelected].classList.add("bg-success");
            $(".card-header")[posicionNoSelected].classList.add("bg-primary");
            $(".card-header")[posicionNoSelected].classList.remove("bg-success");
            $(".btn-clase")[posicionSelected].classList.remove("btn-primary");
            $(".btn-clase")[posicionSelected].classList.add("btn-success");
            $(".btn-clase")[posicionNoSelected].classList.remove("btn-success");
            $(".btn-clase")[posicionNoSelected].classList.add("btn-primary");
        }

        $(".btn-vuelo").each(function () {
            $(this).click(function () {
                $("#idvuelo").val($(this).val());
                $("#clases").load("/Vuelos/Clases?idVuelo=" + $("#idvuelo").val())
            })
        })



        $("#btn-next-clases").click(function () {
            console.log("work")
            var selectedFlightId = $("#idvuelo").val(); // Obtén el ID del vuelo seleccionado
            $("#asientos").data("selected-flight-id", selectedFlightId); // Almacena el ID en el contenedor de la partial view

            // Carga la partial view
            $("#asientos").load("/Vuelos/AsientosPartial?idVuelo=" + selectedFlightId, function () {
                // Una vez cargada la partial view, extrae el ID del vuelo y realiza una llamada AJAX para obtener la capacidad
                var flightId = $("#idvuelo").val();
                $.ajax({
                    url: "/Vuelos/ObtenerAsientos?idVuelo=" + flightId,
                    method: "GET",
                    success: function (asientos) {
                        // Llama a la función initSeatMap con la capacidad obtenida
                        loadAsientos(asientos); /* tengo que pasarle esto (@ViewData["PASAJEROS"], asientos) */
                    },
                    error: function () {
                        console.error("Error al obtener la capacidad del vuelo.");
                    }
                });
            });
        });

        $("#next-asientos").click(function () {
            var pasajeros = @ViewData["PASAJEROS"]; // Almacena el ID en el contenedor de la partial view

            $("#data-pasajeros").load("/Vuelos/PasajerosPartial?pasajeros=" + pasajeros);
        });

        $("#next-datos").click(function () {
            var pasajeros = @ViewData["PASAJEROS"]; // Almacena el ID en el contenedor de la partial view
            let asientosUrl = "&asientos=";
            let clase = $("#claseid").val()==1 ? 'turista' : 'Bussiness';
            let precio = $("#precio").val();
            let asientos = $(".asiento:checked");
            asientos.each(function () {
                asientosUrl += $(this).val() + "," ;
            });
            asientosUrl=asientosUrl.substring(0, asientosUrl.length - 1);
            let url = "/Vuelos/PagoPartial?pasajeros=" + pasajeros + asientosUrl + "&clase=" + clase + "&precio=" + precio
            $("#pago").load(url, function () {

            });
        });


    </script>

}
@section Styles {
    <link rel="stylesheet" href="~/css/vuelos.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.seat-charts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/plane.css" />
}
<div class="container-fluid py-5 separator"></div>
@if (Model != null)
{
    <form method="post" asp-action="Pagar" asp-controller="Vuelos">
        @* @Html.AntiForgeryToken(); *@
        <div class="container-fluid container py-5">
            <div class="progress-container">
                <ul id="progressbar">
                    <li class="active"
                        id="step1">
                        <strong>Vuelos</strong>
                    </li>
                    <li id="step2">
                        <strong>Tarifas</strong>
                    </li>
                    <li id="step3">
                        <strong>Asientos</strong>
                    </li>
                    <li id="step4">
                        <strong>Datos</strong>
                    </li>
                    <li id="step4">
                        <strong>Pago</strong>
                    </li>
                </ul>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="step-container">
                <fieldset>
                    <div class="row p-3">
                        <p class="fs-4">
                            <i class="fa-solid fa-plane"></i> Vuelos (@Model.Count)
                        </p>
                        <div class="container-fluid py-3 col">
                            <input type="hidden" name="idvuelo" value="0" id="idvuelo" />
                            @foreach (VueloView vuelo in Model)
                            {
                                string minutosSalida = vuelo.FechaSalida.TimeOfDay.Minutes.ToString();
                                string minutosLlegada = vuelo.FechaLlegada.TimeOfDay.Minutes.ToString();
                                if (minutosLlegada == "0")
                                {
                                    minutosLlegada = "00";
                                }
                                if (minutosSalida == "0")
                                {
                                    minutosSalida = "00";
                                }
                                TimeSpan diferenciaVuelo = @vuelo.FechaLlegada.Subtract(vuelo.FechaSalida);
                                <div class="flight-card card px-3 py-1 shadow mb-5" style="min-height: 200px">
                                    <div class="card-logo" style="width:auto;">
                                        <img src="~/img/SkyAir-logo-black.png" class="img-fluid" />
                                    </div>
                                    <div class="card-flight-body">
                                        <div class="text-center data">
                                            <span class="hour">

                                                @vuelo.FechaSalida.Hour : @minutosSalida
                                            </span>
                                            <br />
                                            <span class="city">@vuelo.CiudadOrigen</span>
                                        </div>
                                        <div class="text-center card-plane">
                                            <span><i class="text-secondary fs-3 fa-solid fa-plane-departure"></i></span>
                                            <span class="text-secondary">
                                                @diferenciaVuelo.Hours h @diferenciaVuelo.Minutes min
                                            </span>
                                        </div>
                                        <div class="text-center data">
                                            <span class="hour">
                                                @vuelo.FechaLlegada.Hour : @minutosLlegada
                                            </span>
                                            <br />
                                            <span class="city">@vuelo.CiudadDestino</span>
                                        </div>
                                    </div>
                                    <div class="card-button" style="width:auto;">
                                        <button type="button" class="btn btn-primary next-step btn-vuelo" value="@vuelo.IdVuelo">Seleccionar</button>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <input type="hidden" name="idClase" value="0" id="claseid" />
                    <input type="hidden" name="precio" value="0" id="precio" />
                    <div id="clases" class="row mb-3 text-center p-3 m-auto">
                        @* PARTIAL VIEW *@
                    </div>
                    <input type="button"
                           name="next-step"
                           id="btn-next-clases"
                           class="d-none next-step btn btn-primary"
                           value="Siguiente" />
                    <input type="button"
                           name="previous-step"
                           class="previous-step btn btn-secondary"
                           value="Volver" />
                </fieldset>
                <fieldset>
                    <h2 class="text-primary">Seleccion de asientos</h2>
                    <div id="asientos" data-selected-flight-id="">
                    </div>
                    <input type="button"
                           name="next-step"
                           id="next-asientos"
                           class="d-none next-step btn btn-primary"
                           value="Siguiente" />
                    <input type="button"
                           name="previous-step"
                           class="previous-step"
                           value="Volver" />
                </fieldset>
                <fieldset>
                    <div id="data-pasajeros">
                        @* partial view *@
                    </div>
                    <input type="button"
                           name="next-step"
                           id="next-datos"
                           class="next-step btn btn-primary"
                           value="Siguiente" />
                    <input type="button"
                           name="previous-step"
                           class="previous-step"
                           value="Volver" />
                </fieldset><fieldset>
                    <div id="pago">
                        @* partial view *@
                    </div>
                    <input type="submit"
                           class="next-step btn btn-success"
                           value="Pagar" />
                    <input type="button"
                           name="previous-step"
                           class="previous-step"
                           value="Volver" />
                </fieldset>
            </div>
        </div>
    </form>
}
else
{
    <div class="bg-sky text-center m-auto">
        <img class="img-fluid w-100"
             src="https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    </div>
    <p class="fs-1 text-center position-absolute top-50 start-50 translate-middle text-white">
        Lo siento, ahora mismo no tenemos vuelos disponibles<br />
        <a class="btn btn-danger "
           asp-controller="Home"
           asp-action="Index">
            Volver al Inicio
        </a>
    </p>

}